*{
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: verdana;
}
a{
  text-decoration: none;
  color: #ffffff;
}

/* nav-bar */
header {
  width: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2% 7%;
  background-color: #ffffff;
  z-index: 1;
}

.nav-bar {
  background-color: #ffffff;
  color: #335576;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 a {
  text-decoration: none;
  color: #335576;
}
.nav-bar__list {
  list-style: none;
}

.nav-bar__list li {
  display: inline-block;
  padding: 0 1.25rem;
}

.nav-bar__list li a {
  text-decoration: none;
  color: #335576;
}

a.active {
  border-bottom: 2px solid #db7a4e;
}

/* footer section */
.footer-container {
  background-color: #fefaf5;
  color: #335576;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.5rem;
  width: 100%;
  height: 100%;
}

.footer__hours {
  display: flex;
  flex-direction: column;
}

.footer__hours-schedule {
  display: flex;
  flex-direction: row;
}

.footer-subtitles {
  color: #db7a4e;
  font-size: 0.625rem;
  margin: 1.25rem 0;
}
.footer-timing {
  margin: 0 1.25rem 0 0;
}

.footer__subsection-social{
  width: 9.375rem;
  height: 6.25rem;
}
.footer__social-icons{
  display: flex;
  justify-content: space-between;
  margin: 28% 0;
}
.footer__social-icons-size{
  height: 25px;
}