/* hero section */
.hero-container {
  display: flex;
  background-color: #fefaf5;
  text-align: left;
  width: 100%;
  align-items: center; 
  padding: 4%;
}

.hero__slogan {
  color: #335576;
}

.hero__slogan h1 {
  font-size: 2.5rem;
  margin: 20px;
  padding: 20px;
}

.hero__slogan p {
  margin: 20px;
  padding: 20px;
}

.hero__slogan button {
  font-size: 1.125rem;
}

.hero__button {
  background-color: #db7a4e;
  border-radius: 30px;
  color: white;
  border: #db7a4e;
  margin: 2.5rem;
  padding: 1.25rem 3.75rem;
}

.hero__image {
  display: flex;
  height: 27rem;
  margin: 1.25rem;
  padding: 1.25rem;
}

/* recommendations section */
.recs{
  padding: 2% 7%;
  color: #335576;
}
.recs__heading{
  margin: 3% 0;
}
.recs__container{
  display: flex;
  justify-content: space-evenly;
}

.recs__card-image-hawaii{
  position: relative;
  height: 20rem;
  width: 14rem;
  border-radius: .625rem;
  background-image: url(/assets/Images/hawaii.jpg);
  background-size: cover;
   /* Make the parent element relative */
}
.recs__card-image-iceland {
  position: relative;
  height: 20rem;
  width: 14rem;
  border-radius: .625rem;
  background-image: url(/assets/Images/iceland.jpg);
  background-size: cover;
   /* Make the parent element relative */
}
.recs__card-image-greece {
  position: relative;
  height: 20rem;
  width: 14rem;
  border-radius: .625rem;
  background-image: url(/assets/Images/greece.jpg);
  background-size: cover;
   /* Make the parent element relative */
}

.recs__card-hawaii{
  position: absolute;
  top: 61rem;
  left: 21rem;
  color: #fefaf5;
}
.recs__card-iceland{
  position: absolute;
  top: 61rem;
  left: 41rem;
  color: #fefaf5;
}
.recs__card-greece{
  position: absolute;
  top: 61rem;
  left: 62rem;
  color: #fefaf5;
}

