/* hero section */
.hero-container {
  display: flex;
  background-color: #fefaf5;
  text-align: left;
  width: 100%;
  align-items: center; 
  padding: 4%;
}

.hero__slogan {
  color: #335576;
}

.hero__slogan h1 {
  font-size: 2.5rem;
  margin: 20px;
  padding: 20px;
}

.hero__slogan p {
  margin: 20px;
  padding: 20px;
}

.hero__slogan button {
  font-size: 1.125rem;
}

.hero__button {
  background-color: #db7a4e;
  border-radius: 30px;
  color: white;
  border: #db7a4e;
  margin: 2.5rem;
  padding: 1.25rem 3.75rem;
}

.hero__image {
  display: flex;
  height: 27rem;
  margin: 1.25rem;
  padding: 1.25rem;
}

/* recommendations section */
.recs{
  padding: 2% 7%;
  color: #335576;
}
.recs__heading{
  margin: 3% 0;
}
.recs__container{
  display: flex;
  justify-content: space-evenly;
}

.cards {
  border-radius: 0.625rem;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(242, 8, 8, 0.5);
  color: #ffffff;
}

.cards__photo img {
  height: 20rem;
  border-radius: 0.625rem;
}
